certifi==2018.1.18
click==6.7
Flask==0.12.2
Flask-BasicAuth==0.2.0
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
psycopg2==2.7.4
PyYAML==3.12
SQLAlchemy==1.2.6
ua-parser==0.7.3
user-agents==1.1.0
Werkzeug==0.14.1
